.ReactModal__Content--after-open{
    background-color: $dtc-card !important;
    .logout-confirmation-modal-container{
        color: $main-black;
    }
}
.confirmation-modal-container{
    color: $main-black;
}