.ReactModal__Content,
.ReactModal__Content--after-open {
   background: transparent !important;
}
.open-file-selector-modal {
   background: $bg-card;
   width: min(700px, 70%);
   margin: auto;
   padding: 20px;
   border-radius: 10px;
   font-size: 14px;
   box-shadow: $shadow-card-fixed;
   .tittle-span {
      font-weight: bold;
   }
   .open-file-header-con {
      display: flex;
      gap: 5px;
      justify-content: space-between;
      align-items: center;
      .browse-con {
         display: flex;
         gap: 15px;
         width: 80%;
         input {
            width: 100%;
            padding: 5px;
            border-radius: 5px;
            color: $main-black;
            background: $bg-white-dark;
            border: 1px solid $main-white;
            // &::placeholder {
            //    font-size: 13px;
            //    color: #2a4474a1;
            // }
         }
         .browse {
            cursor: pointer;
            background: $bg-blue;
            border: none;
            width: 130px;
            padding: 5px;
            border-radius: 40px;
            color: $white-only;
            box-shadow: $shadow-fixed;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            font-size: 13px;
            transition: all 0.3s ease;
            &:hover {
               box-shadow: 2px 4px 6px #393b3e;
            }
            img {
               width: 17px;
               // filter: invert(1);
            }
         }
      }
   }
   .file-body {
      border: 1px solid $dtc-border;
      border-radius: 10px;
      padding: 15px;
      margin: 15px 0px;
      display: flex;
      align-items: center;
      gap: 10px;
      .ecu_pdx {
         width: 50%;
         padding-right: 10px;
         border-right: 1px solid $dtc-border;
      }
      .ecu_variant {
         width: 50%;
      }
      .pdx-checkboxes {
         background: $bg-white-dark;
         border: 1px solid $dtc-border;
         border-radius: 10px;
         padding: 15px;
         margin: 15px 0px;
      }
   }
}
