.table-waha {
    width: 98%;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    table {
        width: 100%;
        thead {
            background: #3e66b0;
            color: #fff;
        }
        th {
            font-size: rem(14);
            color: #fff;
            text-align: center;
            border: 1px solid #fff;
            background-color: #366eb0;
        }
        td {
            padding: 6px 3px;
            font-size: rem(14);
            color: $main-black;
            text-align: center;
            border: 1px solid #fff;
        }
    }
}
.waha-main {
    display: flex;
    margin: 10px;
    width: 94%;
    justify-content: space-around;
}
.Waha-wheel {
    display: flex;
    font-size: 13px;
    width: 77%;
    span {
        font-weight: bold;
        margin-left: 10px;
    }
}

.headlamp-check {
    display: flex;
    justify-content: space-around;
    .Completed-check {
        margin-right: 20px;
        span {
            margin-left: 20px;
        }
    }
}
.wheel-image {
    width: 60%;
    margin-top: 10px;
}
.waha-status {
    text-align: center;
}
.parameter-waha {
    margin: 10px;
}
.input-field {
    position: relative;
    border: 1px solid #ddd;
    padding: 9px;
    width: 85%;
    border-radius: 5px;
    height: 36px;
    span {
        font-size: 12px;
    }
    img {
        position: absolute;
        right: 1%;
        bottom: 1%;
        width: 32px;
        height: 32px;
    }
}
.file-upload {
    img {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 3px;
        border-radius: 50%;
        cursor: pointer;
    }
}
