.manufacture-container {
   // background: $dtc-card-background;
   border-radius: 10px;
   overflow-y: auto;
   overflow-x: hidden;
   min-height: calc(100vh - 128px);
   max-height: calc(100vh - 128px);
   height: 100%;
   // padding: 20px;

   .mf-wrapper {
      display: flex;
      // gap: 20px;
      height: 100%;
      .mf-left {
         width: 30%;
         max-width: 30%;
         margin: 20px;
         .activity-con {
            width: 30%;
            height: calc(100% - 100px);
            background: $bg-white-dark;
            position: absolute;
            top: 85px;
            z-index: 10;
            padding: 15px;
            border-radius: 10px;
            box-shadow: $shadow-fixed;
         }
         .title {
            color: $text-color;
         }
         .mf-content {
            display: flex;
            flex-direction: column;
            gap: 10px;
            height: 96%;
            margin-top: 10px;
            // background: $bg-light-blue;
            // border-radius: 10px;
            // border: 1px solid $dtc-border;
         }
         .configuration {
            display: flex;
            flex-direction: column;
            height: 50%;
            background: $bg-light-blue;
            border-radius: 10px;
            border: 1px solid $dtc-border;

            ul,
            ol {
               padding: 10px;
               // list-style-position: inside;
               // counter-reset: item;
               list-style: none;
               height: 100%;
               overflow: auto;
               li {
                  padding: 5px 0px;
                  font-size: 14px;
                  // counter-increment: item;
                  display: flex;
                  // flex-direction: column;
                  justify-content: space-between;
                  align-items: center;
                  // border-bottom: 1px solid $dtc-border;
                  color: $main-black;
                  // &::before {
                  //    content: counter(item) ". ";
                  //    margin-right: 8px;
                  //    color: #888;
                  // }
                  span {
                     &:last-child {
                        font-size: 12px;
                        color: #918d8d;
                     }
                  }
               }
            }
         }
         .cf-title {
            // text-align: center;
            // font-weight: bold;
            font-size: 14px;
            // color: $text-color;
            // color: $white-only;
            // background: $bg-blue;
            padding: 8px;
            border-radius: 10px 10px 0px 0px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $dtc-border;
            span {
               font-weight: bold;
               color: $main-black;
            }
            .search-box {
               width: 60%;
               position: relative;
               input {
                  width: 100%;
                  border: 1px solid $dtc-border;
                  padding: 6px;
                  border-radius: 30px;
                  &::placeholder {
                     font-size: 12px;
                  }
               }
               svg {
                  position: absolute;
                  right: 3px;
                  top: 7px;
                  opacity: 0.5;
               }
            }
         }
         .station {
            height: 47%;
            display: flex;
            flex-direction: column;
            background: $bg-light-blue;
            border-radius: 10px;
            border: 1px solid $dtc-border;

            ul,
            ol {
               padding: 10px;
               // list-style-position: inside;
               list-style: none;
               height: 100%;
               overflow: auto;
               li {
                  padding: 5px 0px;
                  font-size: 14px;
                  display: flex;
                  // flex-direction: column;
                  justify-content: space-between;
                  align-items: center;
                  // border-bottom: 1px solid $dtc-border;
                  color: $main-black;
                  span {
                     &:last-child {
                        font-size: 12px;
                        color: #918d8d;
                     }
                  }
               }
            }
         }
      }
      .mf-right {
         width: 70%;
         padding: 20px 20px 10px 10px;
         height: calc(100% - 12px);
         overflow: auto;
         .mf-config {
            width: 100%;
            background: $bg-white-dark;
            border-radius: 10px;
            box-shadow: $shadow-fixed;
         }
         .selection-con {
            border-radius: 10px;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            padding: 10px;
            margin-top: 5px;
            .sc-btn {
               // background: $bg-blue;
               background: transparent;
               border: none;
               // padding: 8px 25px;
               width: 140px;
               height: 130px;
               // display: flex;
               // justify-content: space-between;
               // align-items: center;
               // gap: 5px;
               border-radius: 5px;
               color: $text-color;
            }
            .img-box {
               background: $bg-blue;
               display: grid;
               place-items: center;
               width: 70%;
               height: 70%;
               border-radius: 10px;
               margin: auto;
               margin-bottom: 10px;
            }
            img {
               width: 46px;
               filter: invert(0) drop-shadow(2px 4px 6px #0008);
            }
         }

         .mf-station {
            width: 100%;
            background: $bg-white-dark;
            // padding: 15px;
            border-radius: 10px;
            box-shadow: $shadow-fixed;
            margin: 15px 0px;
         }
         .rcn-title {
            color: $main-black;
            font-size: 14px;
            border-bottom: 1px solid $dtc-border;
            padding: 15px;
            font-weight: bold;
         }
      }
   }
   .no-data-found-manuf {
      text-align: center;
      box-shadow: 1px 2px 3px #4e71b470;
      border-radius: 5px;
      padding: 10px;
      width: 90%;
      margin: auto;
      margin-top: 15px;
      font-size: 13px;
      color: $main-black;
   }
}
