.config-wizard {
   height: calc(100% - 157px);
   //    display: grid;
   //    place-items: center;
   position: relative;
   background: $bg-white-dark;
   margin: 15px;
   padding: 15px;
   border-radius: 6px;
   box-shadow: $shadow-fixed;
   .close-con {
      position: absolute;
      top: 15px;
      left: 15px;
      cursor: pointer;
      img {
         width: 27px;
         filter: drop-shadow(2px 4px 6px #0005);
      }
   }
   .wizard-body {
      height: 100%;
      .title {
         text-align: center;
         font-weight: bold;
         padding: 20px;
         color: $main-black;
      }
      .wizard-box {
         width: min(645px, 80%);
         // height: 400px;
         margin: auto;
         background: $bg-card;
         border: 1px solid #ffffffb5;
         padding: 15px;
         border-radius: 10px;
         font-size: 14px;
         // box-shadow: 1px 2px 20px #32528d80;
         box-shadow: $shadow-card-fixed;
         .sub-title {
            font-weight: bold;
            text-align: center;
            color: $main-black;
         }
         .wizard-tab {
            margin: 15px 0px;
            display: flex;
            justify-content: start;
            align-items: center;
            span {
               // cursor: pointer;
               width: 40%;
               font-size: 13px;
               clip-path: polygon(
                  0% 0%,
                  90% 0%,
                  100% 50%,
                  90% 100%,
                  0% 100%,
                  10% 50%
               );
               text-align: center;
               padding: 5px;
               background: $bg-tab;
               margin-left: -12px;
               color: $black-only;
               transition: all 0.3s ease;
               &.pdx-span {
                  clip-path: polygon(
                     0% 0%,
                     90% 0%,
                     100% 50%,
                     90% 100%,
                     0% 100%
                  );
                  margin: 0;
               }
               &.active {
                  color: $white-only;
                  background: $bg-blue;
               }
            }
         }
      }
   }
}
/*================================
      station count
================================*/
.station-count {
   .form-group {
      position: relative;
      display: flex;
      align-items: center;
      gap: 5px;
      margin-bottom: 10px;
      border-radius: 5px;
      padding: 6px;
      height: 35px;

      label {
         display: flex;
         align-items: center;
         margin: 0px !important;
         input {
            // border: none;
            margin: auto 4px;
            padding: 5px;
            border-radius: 3px;
            font-family: "Facto" !important;
            color: $main-black;
            background: $bg-white-dark;
            border: 1px solid $main-white !important;
            &::placeholder {
               font-family: "Facto" !important;
            }
            &.station-input {
               width: 25%;
            }
            // &[type="radio"] {
            //    accent-color: $bg-blue;
            // }
            &[type="radio"] {
               appearance: none;
               -webkit-appearance: none;
               -moz-appearance: none;
               width: 16px;
               height: 16px;
               background: $white-only;
               border-radius: 50%;
               // margin-right: 10px;
               position: relative;
               cursor: pointer;
               transition: all 0.3s ease;
            }
            &[type="radio"]:checked::before {
               opacity: 1;
            }
            &[type="radio"]::before {
               content: "";
               position: absolute;
               width: 10px;
               height: 10px;
               top: 3px;
               left: 3px;
               border-radius: 50%;
               background-color: $bg-blue;
               opacity: 0;
               transition: opacity 0.2s ease-in-out;
            }
         }
      }
      select {
         width: 25%;
         border: none;
         padding: 5px;
         border-radius: 5px;
         option {
            &:hover {
               background: #ddd !important;
            }
         }
      }
      .custom-select-search {
         width: 30%;
         border-radius: 5px;
         position: relative;
         &:focus-within {
            .down-arrow {
               transform: rotate(180deg); // or 360deg if you want full spin
               transition: transform 0.3s ease-in-out;
            }
         }
         .down-arrow {
            position: absolute;
            right: 10px;
            top: 3px;
            // transform: translateY(-50%);
            transition: transform 0.3s ease-in-out;
            pointer-events: none;
            z-index: 2;
         }
      }
      .browse {
         cursor: pointer;
         background: $bg-blue;
         border: none;
         width: 100px;
         padding: 5px;
         border-radius: 40px;
         color: $white-only;
         box-shadow: $shadow-fixed;
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 5px;
         font-size: 13px;
         transition: all 0.3s ease-in-out;
         &:hover {
            box-shadow: 2px 4px 6px #393b3e;
         }
         img {
            width: 18px;
            // filter: invert(1);
         }
      }
   }
}
.button-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 35px;
   padding: 5px 10px;
   .btn {
      cursor: pointer;
      font-size: 13px;
      min-width: 90px;
      text-align: center;
      background: $bg-blue;
      color: $white-only;
      padding: 7px 15px;
      border-radius: 40px;
      box-shadow: $shadow-fixed;
      border: none;
      font-family: "Facto" !important;
      &.btn-cancel {
         background: $bg-cancel;
      }
   }
}

.error {
   border: 1px solid tomato !important;
}
.error-con {
   position: absolute;
   bottom: -10px;
   font-size: 12px;
   color: tomato;
   left: 8px;
}

.btn {
   transition: all 0.3s ease;
   &:hover {
      box-shadow: 2px 4px 6px #393b3e;
   }
}
//react select search package
.select-search-container {
   width: 100% !important;
   .select-search-value {
      input {
         border: 1px solid $main-white !important;
         height: 30px !important;
         font-size: 13px !important;
         font-family: "Facto" !important;
         color: $main-black;
         background: $bg-white-dark;
         &:hover {
            border: 1px solid $main-white !important;
         }
      }
   }
   //options container
   .select-search-select {
      border: 1px solid #3e66b087 !important;
      box-shadow: 1px 3px 8px #3e66b05e !important;
      top: 40px !important;
      max-height: 300px !important;
      //text
      .select-search-option {
         font-size: 13px !important;
      }
   }
}

/*========================
      edit-station
========================*/
.edit-station {
   .table-container {
      padding: 10px;
      table {
         border-collapse: collapse;
         width: 100%;
         font-size: 13px;
         thead {
            tr {
               border-bottom: 2px solid rgba(165, 177, 199, 0.5490196078);
            }
         }

         th,
         td {
            padding: 10px 0px;
            color: $main-black;
            width: 100px;
            min-width: 75px;
            text-align: center;
         }
         .common-div {
            display: flex;
            align-items: center;
            padding: 0px 5px;
            border-radius: 5px;
            border: 1px solid transparent;
         }
         .th-sno {
            text-align: start;
         }

         tbody {
            tr {
               border-bottom: 2px solid #a5b1c78c;
               input {
                  padding: 5px;
                  // border: 1px solid transparent;
                  border-radius: 5px;
                  color: $main-black;
                  background: $bg-white-dark;
                  border: 1px solid $main-white;
                  &::placeholder {
                     font-size: 13px;
                     color: #2a4474a1;
                  }
               }
            }
            .browse-con {
               display: flex;
               gap: 5px;
               .browse {
                  cursor: pointer;
                  background: $bg-blue;
                  border: none;
                  width: 100px;
                  padding: 5px;
                  border-radius: 40px;
                  color: $white-only;
                  box-shadow: $shadow-fixed;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: 5px;
                  font-size: 13px;
                  transition: all 0.3s ease;
                  &:hover {
                     box-shadow: 2px 4px 6px #393b3e;
                  }
                  img {
                     width: 17px;
                     // filter: invert(1);
                  }
               }
               .delete {
                  cursor: pointer;
                  display: grid;
                  place-items: center;
                  background: $bg-cancel;
                  border-radius: 40px;
                  width: 25px;
                  height: 25px;
                  padding: 4px;
                  box-shadow: $shadow-fixed;
                  img {
                     width: 14px;
                  }
               }
            }
            .sno-con {
               display: flex;
               align-items: center;
               img {
                  width: 18px;
                  margin-right: 10px;
               }
            }
         }
      }
      .table-scroll-container {
         max-height: 241px;
         overflow: auto;
      }
   }
   .edit-btn {
      margin-top: 0px;
      .btn-left-con {
         display: flex;
         align-items: center;
         gap: 10px;
      }
      img {
         width: 17px;
         filter: invert(1);
         margin-right: 6px;
      }
   }
}
/*======================
      finish setup
======================*/
.finish-setup-con {
   .fs-title {
      font-weight: bold;
      text-align: center;
      color: $main-black;
   }
   .summary {
      border-top: 2px solid #a5b1c78c;
      border-bottom: 2px solid #a5b1c78c;
      padding: 10px;
      margin: 10px 10px 0px;
      color: $main-black;
      div {
         display: flex;
         align-items: center;
         justify-content: start;
         margin-bottom: 5px;
         &.no-of-station {
            margin-bottom: 0px !important;
            input {
               width: 10% !important;
            }
         }
         span {
            width: 50%;
         }
         input {
            width: 50%;
            padding: 5px;
            border-radius: 5px;
            color: $main-black;
            background: $bg-white-dark;
            border: 1px solid $main-white;
         }
      }
   }
   .fs-table-container {
      max-height: 180px;
      overflow: auto;
      margin: 0px 10px 10px;
      table {
         border-collapse: collapse;
         width: 100%;
         // margin: 10px;
         th,
         td {
            padding: 8px 0px;
            color: $main-black;
            width: 100px;
            text-align: start;
         }
         tr {
            border-bottom: 2px solid rgba(165, 177, 199, 0.5490196078);
         }
         .th-sno,
         .td-sno {
            // background: #ddd;
            width: 51px !important;
            text-align: center;
         }
         .common-div {
            width: 100%;
            input {
               width: 90%;
               padding: 5px;
               font-size: 13px;
               border-radius: 4px;
               color: $main-black;
               background: $bg-white-dark;
               border: 1px solid $main-white;
            }
         }
      }
   }
   .finish-setup-btn {
      margin: 0;
      // margin-top: 0px !important;
      .btn-left-con {
         display: flex;
         align-items: center;
         gap: 10px;
      }
      img {
         width: 17px;
         filter: invert(1);
         margin-right: 6px;
      }
   }
}
