.copyrights-section {
   display: flex;
   align-items: center;
   right: 20px;
   bottom: 40px;
   width: 100%;
   justify-content: center;
   background: none;
   position: absolute;
   z-index: 1;
   @include for-phone {
      position: relative;
      right: 0;
      bottom: 0;
      justify-content: center;
      width: 100%;
      padding-bottom: 20px;
   }
   img {
      width: 100px;
      height: auto;
      margin-right: 10px;
      background: none;
      filter: brightness(0.5);
   }
   span {
      font-size: rem(12);
      color: #000;
      background: none;
      color: #fff;
   }
}
