// .Operator-setup{
// // border: 1px solid #3e66b0;
// margin-top: 12px;
// // min-height: calc(100vh - 200px);
// // max-height: calc(100vh - 120px);
// }
.Operator-list{
    display: grid;
    grid-template-columns: auto auto;
    li {
        //  width: 34%; 
        border-radius: 5px;
    display: flex;
    /* background-color: #2abf42; */
    align-items: center;
    margin-bottom: 15px;
    border: 1px dotted gray;
    padding: 0px 10px;
    width: 90%;
        &:nth-child(even){
            width: 100%;
        }

        .Ecu-name {
            border: 1px solid #000;
            padding: 5px 15px;
            border-radius: 5px;
            color: #fff;
            background-color: #3e66b0;
            width: 30%;
            input {
                border: 1px solid #000;
                margin-left: 16px;
            }
        }
        .Ecu-flashing {
            padding: 5px 15px;
            border-radius: 5px;
            width: 100%;
            p{
                padding-left: 20px;
                font-size: 14px;
            }
            input {
                border: 1px solid #ddd;
    height: 30px;
    padding: 3px;
    margin-left: 16px;
    border-radius: 5px;
            }
        }
    }
}
.Heading{
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: 15px 120px 15px 0px;
    font-size: 13px;
}


.progress_bar_div {
    width: 85%;
    margin-left: 10px;
    border-radius: 20px;
    .Eol-Flashing{
        display: flex;
        p{
            width: 30%;
            /* border: 1px solid; */
            margin: 5px 0px 0px 10px;
            border-radius: 5px;
            background-color: #2abf42;
            padding: 2px;
            color: #fff;
        }
    }
    p{
        width: 30%;
    /* border: 1px solid; */
    margin-top: 5px;
    border-radius: 5px;
    background-color: #2abf42;
    padding: 2px;
    color: #fff;
    }
}
    .outer_progress_bar {
        margin-top: 10px;
        width: 100%;
        height: 11px;
        border-radius: 20px;
        background-color: #ddd;
       .inner_progress_bar {
          // width: 98%;
          height: 8px;
          background-color: #2abf42;
          border: 2px solid #ddd;
          border-radius: 20px;
          text-align: center;
          padding: 3px;
          margin-top: 6px;
       }
    }
 
    .Flashing-start{
        button {
            background-color: #3e66b0;
            border: 0px;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: rem(13);
            cursor: pointer;
            height: 33px;
            margin-right: 10px;
            &:disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }
        }
    }
    .Flashing-Complete{
        button{
            background-color: #2abf42;
            color: #fff;
            padding: 6px 20px;
            border-radius: 5px;
            font-size: rem(13);
            cursor: pointer;
            height: 33px;
        }
    }
     .battery-width {
        left: 2px;
        top: 2px;
        // height: 86%;
        border-radius: 4px 0 0 4px;
        &.battery-green {
          
           color: #ffc207;
        }

        &.battery-yellow {
            color: #2abf42;
          
        }

        &.battery-red {
           color: #2abf42;
        }
     }
     .sidebar-Ecu{
        min-width: 165px;
        height: 345px;
        .select_all{
            background-color: rgba(27, 111, 238, 0.0705882353);
            padding: 10px;
            border-radius: 5px;
            margin-top: 3px;
            margin-left: 3px;
            width: 88%;
            display: flex;
            justify-content: space-between;
            padding-right: 21px;
        }
        }
        .sidebar-ecu-list{
            list-style: none;
        justify-content: flex-start;
        border-radius: 5px;
        padding-right: 15px;
        padding-left: 4px;
        margin-top: 4px;
        overflow-x: hidden;
        overflow-y: auto;
        height: 295px;
        li{
            display: flex;
        justify-content: space-between;
        background-color: #d9d9d9;
        color: #6e6e6e;
        padding: 10px;
        border-radius: 5px;
        font-size: 0.875rem;
        font-family: "Facto";
        cursor: pointer;
    }
        }

        .Batch-details{
            p{
                font-size: 15px;
                color: $main-black;
            }
            display: flex;
            align-items: center;
            justify-content: flex-end;
            input{
                margin-left: 10px;
                width: 20%;
                height: 30%;
                border-radius:3px ;
                border: 1px solid;
                padding: 3px;
            }
        }
        .Batch-input{
            float: right;
            padding: 10px;
            p{
                color:#ca3333;
                font-size: 12px;
            }
        }