.vechile-eol-container{
  border-radius: 10px;
  background-color: $dtc-card-background;
  padding: 10px;
  .vechile-eol-contianer-sec{
    max-height: calc(100vh - 160px);
    border-radius: 10px;
    overflow-y: auto;
    min-height: calc(100vh - 160px);
    border: 1px solid #ddd;
  }

}



.vci-connected-car{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: calc(100vh - 172px);
    min-height: calc(100vh - 212px);
    img:nth-child(2){
      height: 14px;
      position: absolute;
      right: 54%;
      top: 38.7%;
      width: 14px;

    }
    img:nth-child(3){
      bottom: 27.8%;
      height: 14px;
      left: 20%;
      position: absolute;
      width: 14px
    }
}
.fetch-vci{
  min-height: calc(100vh - 410px);
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 1px 5px 0px #000;
  width: 30%;
  overflow: auto;

}
.fetch-order{
  transform: translate(0px, 80px);
  padding: 10px;
  span{
    margin-left: 22px;
    font-size: 14px;
  }
  input{
    background-color: #ddd;
    height: 26px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 63%;
    margin-left: 12px;
    padding: 10px
  }
  p{
    text-align: center;
    margin: 10px;
    font-size: 12px;
    color: #ca3333;
  }
}
.fetch-button{
  text-align: center;
  margin-top: 10px;
  button{
    background-color: #3e66b0;
        border: none;
        color: #fff;
        padding: 10px;
        width:150px;
        border-radius: 8px;
        font-size: rem(12);
        &:disabled {
          opacity: .5;
           cursor: not-allowed;
          }
  }
}
.order-details{
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  width: 100%;
  padding: 10px;
.list-details{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
    table {
      width: 100%;
      border-collapse: collapse;
      td {
          padding: 6px 3px;
          font-size: rem(14);
          color: $main-black;
          text-align: start;
          border: 1px solid #fff;
          input{
            border: 1px solid #ddd;
            border-radius: 3px;
            width: 100%;
            background-color: #e4e6eb;
            font-size: 12px;
            padding: 5px;
          }
      }
  } 
}
span{
  margin-left: 11px;
  width: 20%;
  font-size: 12px;
}

select{
  height: 26px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  background-color: #e4e6eb;
}
}
.fetch-button{
text-align: center;
margin: 10px 0px 0px 15px;
button{
  background-color: #3e66b0;
      border: none;
      color: #fff;
      padding: 10px;
      width: 73%;
      border-radius: 8px;
      font-size: rem(12);
      &:disabled {
        opacity: .5;
         cursor: not-allowed;
        }
}
p{
  font-size: 15px;
  color:#2ABF42
}
}
.connection-check{
  text-align: center;
  margin: 10px;
  border-radius: 3px;
  color: #2ABF42;
  &.error{
    color:#ca3333
  }
}